@model IEnumerable<WebAppMVC.Application.FootballTeam.FootballTeamDto>

@{
    ViewData["Title"] = "Details";
}

<h1>League Football Teams</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingsWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueId)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        int rowNo = 0;
    }
    <tbody>
@foreach (var item in Model) {
        <tr>
              <td>
                    @(rowNo += 1)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingsWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueId)
            </td>
            <td>

                    <a class="btn btn-primary" asp-controller="League" asp-action="ShowMatches" asp-route-id="@item.Id">Show Matches</a>
                    <a class="btn btn-primary" asp-controller="League" asp-action="AddToFavouriteTeams" asp-route-id="@item.Id">Add Team to Favourite</a>

            </td>
               
        </tr>
}
    </tbody>
</table>


<p>
    <a class="btn btn-primary" asp-controller="League" asp-action="Index">Return All Leagues</a>
</p>
