@model IEnumerable<WebAppMVC.Application.FootballTeam.FootballTeamDto>

@{
    ViewData["Title"] = "Details";
}

<h1>League Football Teams</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Nr
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingsWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeagueId)
            </th>
            <th></th>
        </tr>
    </thead>
    @{
        int rowNo = 0;
    }
    <tbody>
@foreach (var item in Model) {
        <tr>
              <td>
                    @(rowNo += 1)
              </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingsWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeagueId)
            </td>
            <td>

                    <a class="btn btn-primary" asp-controller="League" asp-action="ShowMatches" asp-route-id="@item.Id">Show Matches</a>
                   
                    @if (!(User.Identity == null || !User.Identity.IsAuthenticated))
                    {
                        <a class="btn btn-primary" onclick="AddNewTeamToFavouriteTeams('@item.Id')">Add new Team</a>
                    }

                    <a class="btn btn-primary" href="#staticBackdrop" data-bs-toggle="modal" onclick="GetMatches('@item.Id')">Quick match results</a>

                    @* This is the modal component, you can find the  same code on the bootstrap  website *@

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Matches</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="MatchDto">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.css"> </script>

            </td>
               
        </tr>
}
    </tbody>
</table>


<p>
    <a class="btn btn-primary" asp-controller="League" asp-action="Index">Return All Leagues</a>
</p>


    @section Scripts
    {
    <script>

        function AddNewTeamToFavouriteTeams(id) {

            var postData = {
                'Id': id,
            };
            $.ajax({
                dataType: 'json',
                type: "GET",
                url: `/League/AddNewTeamToFavouriteTeams`,
                data: postData,
                success: function (res) {
                    console.log(res)
                    $('#staticBackdrop').modal()
                }, 
            });
            window.alert(`Added a new team with id: ${id} to the favorite teams, if it already exists in the table of favorite teams, it will not add.'`)
        }
    </script>

    <script>

        function GetMatches(id) {

            var postData = {
                'Id': id,
            };

            $.ajax({
                dataType: 'json',
                type: "GET",
                url: `/League/showMatchModal`,
                data: postData,
                success: function (res) {
                    console.log(res)
                    document.getElementById("MatchDto").innerHTML = '<table class="table table-striped table-bordered zero-configuration dataTable" role="grid">'
                        + '<thead><tr><th>Id</th><th>FirstNameTeam</th><th>SecondNameTeam</th><th>Result</th><th>GoalScore</th><th>QueueId</th><th>QueueName</th><th>LeagueId</th></tr></thead>'
                        + '<tbody>'
                        + '<tr><td>' + res[0]["id"] + '</td><td>' + res[0]["nameFirstTeam"] + '</td><td>' + res[0]["nameSecondTeam"] + '</td><td>' + res[0]["result"] + '</td><td>' + res[0]["goalScore"] + '</td><td>' + res[0]["queueId"] + '</td><td>' + res[0]["queueName"] + '</td><td>' + res[0]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[1]["id"] + '</td><td>' + res[1]["nameFirstTeam"] + '</td><td>' + res[1]["nameSecondTeam"] + '</td><td>' + res[1]["result"] + '</td><td>' + res[1]["goalScore"] + '</td><td>' + res[1]["queueId"] + '</td><td>' + res[1]["queueName"] + '</td><td>' + res[1]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[2]["id"] + '</td><td>' + res[2]["nameFirstTeam"] + '</td><td>' + res[2]["nameSecondTeam"] + '</td><td>' + res[2]["result"] + '</td><td>' + res[2]["goalScore"] + '</td><td>' + res[2]["queueId"] + '</td><td>' + res[2]["queueName"] + '</td><td>' + res[2]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[3]["id"] + '</td><td>' + res[3]["nameFirstTeam"] + '</td><td>' + res[3]["nameSecondTeam"] + '</td><td>' + res[3]["result"] + '</td><td>' + res[3]["goalScore"] + '</td><td>' + res[3]["queueId"] + '</td><td>' + res[3]["queueName"] + '</td><td>' + res[3]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[4]["id"] + '</td><td>' + res[4]["nameFirstTeam"] + '</td><td>' + res[4]["nameSecondTeam"] + '</td><td>' + res[4]["result"] + '</td><td>' + res[4]["goalScore"] + '</td><td>' + res[4]["queueId"] + '</td><td>' + res[4]["queueName"] + '</td><td>' + res[4]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[5]["id"] + '</td><td>' + res[5]["nameFirstTeam"] + '</td><td>' + res[5]["nameSecondTeam"] + '</td><td>' + res[5]["result"] + '</td><td>' + res[5]["goalScore"] + '</td><td>' + res[5]["queueId"] + '</td><td>' + res[5]["queueName"] + '</td><td>' + res[5]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[6]["id"] + '</td><td>' + res[6]["nameFirstTeam"] + '</td><td>' + res[6]["nameSecondTeam"] + '</td><td>' + res[6]["result"] + '</td><td>' + res[6]["goalScore"] + '</td><td>' + res[6]["queueId"] + '</td><td>' + res[6]["queueName"] + '</td><td>' + res[6]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[7]["id"] + '</td><td>' + res[7]["nameFirstTeam"] + '</td><td>' + res[7]["nameSecondTeam"] + '</td><td>' + res[7]["result"] + '</td><td>' + res[7]["goalScore"] + '</td><td>' + res[7]["queueId"] + '</td><td>' + res[7]["queueName"] + '</td><td>' + res[7]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[8]["id"] + '</td><td>' + res[8]["nameFirstTeam"] + '</td><td>' + res[8]["nameSecondTeam"] + '</td><td>' + res[8]["result"] + '</td><td>' + res[8]["goalScore"] + '</td><td>' + res[8]["queueId"] + '</td><td>' + res[8]["queueName"] + '</td><td>' + res[8]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[9]["id"] + '</td><td>' + res[9]["nameFirstTeam"] + '</td><td>' + res[9]["nameSecondTeam"] + '</td><td>' + res[9]["result"] + '</td><td>' + res[9]["goalScore"] + '</td><td>' + res[9]["queueId"] + '</td><td>' + res[9]["queueName"] + '</td><td>' + res[9]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[10]["id"] + '</td><td>' + res[10]["nameFirstTeam"] + '</td><td>' + res[10]["nameSecondTeam"] + '</td><td>' + res[10]["result"] + '</td><td>' + res[10]["goalScore"] + '</td><td>' + res[10]["queueId"] + '</td><td>' + res[10]["queueName"] + '</td><td>' + res[10]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[11]["id"] + '</td><td>' + res[11]["nameFirstTeam"] + '</td><td>' + res[11]["nameSecondTeam"] + '</td><td>' + res[11]["result"] + '</td><td>' + res[11]["goalScore"] + '</td><td>' + res[11]["queueId"] + '</td><td>' + res[11]["queueName"] + '</td><td>' + res[11]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[12]["id"] + '</td><td>' + res[12]["nameFirstTeam"] + '</td><td>' + res[12]["nameSecondTeam"] + '</td><td>' + res[12]["result"] + '</td><td>' + res[12]["goalScore"] + '</td><td>' + res[12]["queueId"] + '</td><td>' + res[12]["queueName"] + '</td><td>' + res[12]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[13]["id"] + '</td><td>' + res[13]["nameFirstTeam"] + '</td><td>' + res[13]["nameSecondTeam"] + '</td><td>' + res[13]["result"] + '</td><td>' + res[13]["goalScore"] + '</td><td>' + res[13]["queueId"] + '</td><td>' + res[13]["queueName"] + '</td><td>' + res[13]["leagueId"] + '</td></tr>'
                        + '<tr><td>' + res[14]["id"] + '</td><td>' + res[14]["nameFirstTeam"] + '</td><td>' + res[14]["nameSecondTeam"] + '</td><td>' + res[14]["result"] + '</td><td>' + res[14]["goalScore"] + '</td><td>' + res[14]["queueId"] + '</td><td>' + res[14]["queueName"] + '</td><td>' + res[14]["leagueId"] + '</td></tr>'
                        + '</tbody></table>';

                    $('#staticBackdrop').modal()
                },


            });
        }
    </script>


    }
